:root {
  --clr-blue-900: hsla(217, 98%, 39%, 1);
  --clr-primary-900: hsla(187, 98%, 39%, 1);
  --clr-primary-300: hsla(187, 78%, 81%, 0.99);
  --clr-green: hsla(157, 98%, 39%, 1);
  --clr-red: hsla(337, 98%, 39%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-blue-gray-900: hsla(218, 61%, 25%, 1);
  --clr-blue-gray-700: hsla(218, 27%, 68%, 1);
  --clr-blue-gray-400: hsla(217, 30%, 86%, 1);
  --clr-blue-gray-300: hsla(206, 23%, 94%, 1);

  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 0.875rem;

  --fw-400: 500;
  --fw-700: 700;
  --fw-900: 900;
}
